@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #D32F2F;
  --secondary: #424242;
  --accent: #F48FB1;
  --background-light: #FAFAFA;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background-light text-slate-900;
  font-feature-settings: "ss01", "ss02", "cv01", "cv02";
}

@layer components {
  .hero-gradient {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('https://images.unsplash.com/photo-1541888946425-d81bb19240f5?auto=format&fit=crop&q=80&w=2070');
    background-size: cover;
    background-position: center;
  }
}

.glass {
  @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-xl;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-red-400;
}